$primary-color: #226089;
$secondary-color: #e3c4a8;
$complementary-color: #e3c4a8;

$bg-color: #f4f4f4;

$navbar-bg-color: #000000;
$footer-bg-color: #000000;
$main-header-bg-color: #1e252b;



$navbar-height: 80px;



$default-fonts: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


$mobile-width: 700px;
$mobile-height: 300px;