$primary-color: #be6a15;
$secondary-color: #ac3f21;
$terciary-color: #6e3b3b;

$bg-color: #dba46e;
$home-header-bg-color: #7c2a14;

$navbar-bg-color: #49180b;
$footer-bg-color: #49180b;



$navbar-height: 80px;



$default-fonts: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


$mobile-width: 700px;
$mobile-height: 300px;