$primary-color: #be6a15;
$secondary-color: #ac3f21;
$complementary-color: #6e3b3b;
$complementary-color2: #f3cf7a;


$bg-color: #f4f4f4;

$navbar-bg-color: #000000;
$navbar-current-page-bg-color: $primary-color;

$footer-bg-color: #000000;

$main-header-bg-color: #1e252b;
$main-header-z-index: 1000;



$navbar-height: 80px;
$navbar-z-index: 1100;



$default-fonts: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


$mobile-width: 700px;
$mobile-height: 300px;