@import 'config/config';
@import 'utils/utils';

body {
    font-family: $default-fonts;
    font-size: 15px;
}


.three-areas-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    background-color: $bg-color;
}


nav#nav {
    position: fixed;
    
    background-color: $navbar-bg-color;
    height: $navbar-height;
    width: 100%;

    z-index: $navbar-z-index;

    .container {
        display: flex;
        justify-content: space-between;

        .nav-logo {
            flex-shrink: 1;
            overflow: hidden;

            width: 270px;
            @include config-icon-bg('../images/brand/logo-h.svg', 230px);
        }

        .nav-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            
            padding: 15px 20px;
            
            background-color: $navbar-bg-color;
            color: white;

            cursor: pointer;

            &:hover {
                background-color: lighten($navbar-bg-color, 6);
            }

            img.logo {
                object-position: center;
                object-fit: contain;
                height: 100%;
                max-width: 230px;
            }

            &.current-page {
                background-color: $navbar-current-page-bg-color;
            }
        }

        .mobile-menu-button {
            @extend .mobile-only;
        }

        .nav-options {
            display: flex;
        }

        a {
            text-decoration: none;
        }
    }
}

@media (max-width: $mobile-width) {
    nav#nav {
        .container .mobile-menu-button {
            display: inline-flex !important;
            width: 80px;
            @include config-icon-bg('../images/icons/Hamburger-white.svg', 20px);
        }

        .container .nav-options {
            display: none;
            flex-direction: column;

            position: absolute;

            top: 100%;
            max-width: 100%;
            width: 250px;
            height: calc(100vh - #{$navbar-height});

            overflow-y: auto;
            
            background-color: $navbar-bg-color;

            .nav-item {
                height: 60px;
            }
        }

        &.show {
            .container .nav-options {
                display: flex;
            }

            .container .mobile-menu-button {
                @include config-icon-bg('../images/icons/Multiplication_Sign-white.svg', 20px);
            }
        }
    }
}


.main-header {
    position: relative;

    height: 100vh;
    z-index: $main-header-z-index;

    h2 {
        font-size: 32px;
        margin: 0;
    }

    .overlay {
        
        max-width: 600px;
        width: 100%;

        background-color: rgba(#000000, 85%);

        .text {
            
            padding: 30px;
            
            color: #efefef;

            h2 {
                font-size: 52px;
            }

            p {
                font-size: 20px;
            }
        }

    }

    .container {
        display: flex;
        align-items: center;
    }
}



@include pages-header-backgrounds();



footer {
    @extend .full-center;

    background-color: $footer-bg-color;
    color: white;
    min-height: 90px;
    padding: 40px;

    .container {
        height: auto;
    }

    .credits {
        margin-top: 40px;
    }

    table {
        border-collapse: collapse;
    
        th, td {
            padding: 5px;
        }
    
        th {
            padding-right: 10px;
            text-align: right;
        }

        tr {
            text-align: left;
        }
    }
}