@import 'normalize';
@import 'config';
@import 'utils';

body {
    font-family: $default-fonts;
    font-size: 15px;
}

.three-areas-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    background-color: $bg-color;
}


nav {
    position: fixed;
    background-color: $navbar-bg-color;
    height: $navbar-height;
    width: 100%;

    z-index: $navbar-z-index;

    .container {
        display: flex;
        justify-content: space-between;

        .nav-item {
            display: inline-flex;
            align-items: center;
            
            padding: 15px 20px;
            
            background-color: $navbar-bg-color;;
            color: white;

            &:hover {
                background-color: lighten($navbar-bg-color, 6);
            }

            img.logo {
                object-position: center;
                object-fit: contain;
                height: 100%;
                max-width: 230px;
            }

            &.current-page {
                background-color: $navbar-current-page-bg-color;
            }
        }

        .nav-options {
            display: flex;
        }

        a {
            text-decoration: none;
        }
    }
}


.main-header {
    position: relative;

    height: 100vh;
    z-index: $main-header-z-index;

    h2 {
        font-size: 32px;
        margin: 0;
    }

    .overlay {
        
        max-width: 600px;
        width: 100%;

        background-color: rgba(#000000, 85%);

        .text {
            
            padding: 30px;
            
            color: #efefef;

            h2 {
                font-size: 52px;
            }

            p {
                font-size: 20px;
            }
        }

    }

    .container {
        display: flex;
        align-items: center;
    }
}



@include pages-header-backgrounds();



footer {
    @extend .full-center;

    background-color: $footer-bg-color;
    color: white;
    min-height: 90px;

    .container {
        height: auto;
    }
}