@import 'normalize';
@import 'config';
@import 'utils';

body {
    font-family: $default-fonts;
    font-size: 15px;
}

.three-areas-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    background-color: $bg-color;
}


.navbar-container {
    height: $navbar-height;
}


nav {
    position: fixed;
    background-color: $navbar-bg-color;
    height: $navbar-height;
    width: 100%;

    .container {
        display: flex;
        justify-content: space-between;

        .nav-item {
            display: inline-flex;
            align-items: center;
            
            padding: 15px 20px;
            
            background-color: $navbar-bg-color;;
            color: white;

            &:hover {
                background-color: darken($navbar-bg-color, 4);
            }
        }

        .nav-options {
            display: flex;
        }

        a {
            text-decoration: none;
        }
    }
}


.home-header {
    background-color: $home-header-bg-color;
    color: white;
    
    padding: 20px;
    max-height: 350px;
    height: 100%;

    h2 {
        font-size: 32px;
        margin: 0;
    }

    .logo {
        background-image: url('../images/brand/logo.png');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}


footer {
    @extend .full-center;

    background-color: $footer-bg-color;
    color: white;
    min-height: 90px;

    .container {
        height: auto;
    }
}