<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./inc/head')%>
</head>
<body>
  <div class="body-container three-areas-layout">
    <%- include('./inc/header') %>
  
    <main>
      <%- body %>
    </main>
  
    <%- include('./inc/footer') %>
  </div>
</body>
</html>