<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('./inc/head')%>
</head>
<body>
  <div class="body-container three-areas-layout">
    <header>
      <%-include('./inc/nav')%>
    </header>
  
    <main>
      <div class="container">
        <%- body %>
      </div>
    </main>
  
    <footer>
      <div class="container">Criado por Karran Lemos.</div>
    </footer>
  </div>
</body>
</html>