<header id="<%=page%>-header" class="main-header">
  <div class="container container-full-height">
    <div class="text">
      <h2><%=title%></h2>
      <p><%=text%></p>
    </div>
  </div>
</header>