.hidden {
    display: none;
}

.anchor-hash {
    position: relative;
    top: -$navbar-height;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

    &-full-height {
        height: 100%;
    }

    .content {
        background-color: white;
        overflow-x: hidden;
        min-height: 200px;
        width: 100%;

        padding: 20px;
        margin: 20px auto;
    }
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-only {
    display: none !important;
}

.split-container {
    display: flex;
    height: 100%;

    .primary {
        flex: 8 1;
    }

    .secondary {
        flex: 7 1;
    }

    .primary, .secondary {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
    }
}



@media (max-width: $mobile-width) {
    .split-container {   
        text-align: center;

        .secondary {
            display: none;
        }
    }
}

.three-areas-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    background-color: $bg-color;
}



ul.simple-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 10px;
    }
}


.split-blocks {
    display: flex;
    gap: 50px;

    margin: 40px 20px;

    > div {
        flex: 1 1 0;
        min-width: 0;

        overflow: hidden;

        h2 {
            font-size: 22px;
            margin: 10px 0 25px 0;
        }

        table {
            margin: 0 auto;
        }
    }

    > .big {
        flex-grow: 2;
    }

    .presentation-block {
        display: inline-flex;
        justify-content: center;
        align-items: start;
        text-align: center;

        padding: 20px;

        .icon {
            width: 60px;
            height: 60px;
            margin: 10px 0;
        }

        h2 {
            margin: 10px 0;
        }
    }
}

@media (max-width: $mobile-width) {
    .split-blocks {
        gap: 20px;

        margin: 0;
        flex-direction: column;

        > div {
            flex: 0 0 auto;
        }

        .presentation-block {
            margin: 0px;
            height: auto;

            &:first-child {
                margin-top: 50px;
            }
            &:last-child {
                margin-bottom: 50px;
            }
        }
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    min-height: 40px;
    min-width: 60px;

    background-color: $btn-bg-color;
    color: $btn-color;

    outline: none;
    border: none;

    text-decoration: none;
    cursor: pointer;

    &:hover, &:visited {
        color: $btn-color;
    }

    &:hover {
        background-color: darken($btn-bg-color, 7);
    }

    &-primary {
        background-color: $btn-primary-bg-color;
        color: $btn-primary-color;

        &:hover {
            background-color: darken($btn-primary-bg-color, 4);
        }

        &:hover, &:visited {
            color: $btn-primary-color;
        }
    }

    &-secondary {
        background-color: $btn-secondary-bg-color;
        color: $btn-secondary-color;

        &:hover {
            background-color: darken($btn-secondary-bg-color, 7);
        }

        &:hover, &:visited {
            color: $btn-secondary-color;
        }
    }
}



@each $i in (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .m-#{$i} {
        margin: #{$i*10}px !important;
    }
    .my-#{$i} {
        margin: #{$i*10}px 0 !important;
    }
    .mx-#{$i} {
        margin: 0 #{$i*10}px !important;
    }
    .mt-#{$i} {
        margin-top: #{$i*10}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i*10}px !important;
    }
}



.contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 600px;
    margin: 60px auto;

    .form-item {
        display: block;
        padding: 15px;

        outline: none;
        border: none;
    }
    
    .form-item, .message-box {
        box-shadow: 0 0 20px rgba(100, 100, 100, .7);
    }

    input.form-item, textarea.form-item {
        border-radius: 8px;
    }

    textarea.form-item {
        min-height: 130px;
        resize: vertical;
    }

    h2 {
        text-align: center;
        margin: 0;
    }

    .message-box {
        min-height: 30px;
        width: 100%;
        padding: 20px;
    
        background-color: rgb(50, 50, 50);
        color: white;
    
        &.success {
            background-color: rgb(0, 50, 0);
        }
    
        &.failure {
            background-color: rgb(50, 0, 0);
        }
    }

    .btn-primary {
        background-color: lighten($btn-primary-bg-color, 3);

        &:hover {
            background-color: $btn-primary-bg-color;
        }
    }
}



.message-box {
    min-height: 30px;
    width: 100%;
    padding: 20px;

    background-color: rgb(44, 44, 44);
    color: white;

    &.success {
        background-color: rgb(0, 37, 0);
    }

    &.failure {
        background-color: rgb(37, 0, 0);
    }
}