@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NotoSans/NotoSans-Regular.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/NotoSans/NotoSans-Italic.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NotoSans/NotoSans-Bold.ttf');
}
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-style: italic;
    src: url('../fonts/NotoSans/NotoSans-BoldItalic.ttf');
}


@font-face {
    font-family: 'Quicksand';
    font-weight: 500;
    src: url('../fonts/Quicksand/Quicksand-Medium.ttf');
}
@font-face {
    font-family: 'Quicksand';
    font-weight: 700;
    src: url('../fonts/Quicksand/Quicksand-Bold.ttf');
}