<%- include('inc/main-header', {
  page: 'about',
  title: 'Sobre Nós',
  text: 'Um salão de beleza especializado em exaltar a sua beleza com um sorriso no rosto!'
}) %>

<div class="container">
  <div class="content">
    <h2 class="full-center">A nossa história</h2>
    <p>O Salão da Márcia é um salão de beleza com mais de 20 anos de idade, localizado em Botafogo, no Rio de Janeiro.</p>
    <p>Aberto em 1997 por Márcia Cardoso, o estabelecimento é conhecido por todos os moradores da região, além de todos os turistas que entraram por nossas portas. Sendo composta por profissionais renomados de todo o país, nossa equipe coloca toda a sua disposição em servir nossos clientes da melhor forma possível.</p>
    <div class="video-player-container">
      <iframe src="https://www.youtube.com/embed/2YBtspm8j8M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<%- include('inc/main-footer') %>