<%- include('inc/main-header', headerContent) %>

<div class="container">
  <div class="content">
    <h2>A nossa história</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aut ut quasi dolor harum. Quasi harum id minima nam iusto temporibus magni at eius aspernatur asperiores provident omnis voluptate eum, ratione iste similique, impedit odit vitae explicabo est.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odit, ducimus amet officiis animi dicta aperiam, accusamus velit consequatur assumenda vitae molestiae totam modi harum magnam incidunt facilis, quas aut?</p>
    <div class="video-player-container">
      <iframe src="https://www.youtube.com/embed/2YBtspm8j8M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<%- include('inc/main-footer') %>