<%- include('inc/main-header', headerContent) %>

<div class="container">
  <div class="content">
    <h2>Contato</h2>
    <p>Caso deseja nos contatar, por favor, utilize um dos meios listados abaixo:</p>
    <ul>
      <li>Telefone: (21) 4032-3232</li>
      <li>salao.marcia@example.com</li>
    </ul>
    <p>ou pelo formulário abaixo.</p>
  </div>

  <a class="anchor-hash" id="contact-form"></a>
  <div>
    <form action="" method="post" class="js-form contact-form" data-url-submit="/forms/contact">
      <h2>Formulário</h2>
      <div class="js-message-box-container hidden"></div>
      <input type="text" name="name" placeholder="Nome" class="js-form-item form-item" required>
      <input type="email" name="email" placeholder="Email" class="js-form-item form-item" required>
      <textarea name="message" placeholder="Mensagem" class="js-form-item form-item" required></textarea>
      <button class="js-form-submit form-item btn btn-primary">Enviar</button>
    <form>
  </div>
</div>

<%- include('inc/main-footer') %>