<div class="container">
  <div class="content">
    <h2>Créditos</h2>
    <p>Os seguintes recursos foram usados na construção deste site:</p>
    <ul class="">
      <li>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
      <li>Icons made by <a href="https://www.flaticon.com/authors/iconixar" title="iconixar">iconixar</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></li>
    </ul>
  </div>
</div>