<div class="container">
  <div class="content mt-10 full-center">
    <h2><%=(typeof errorMessage !== 'undefined') ? errorMessage : 'Internal Server Error' %></h2>
  </div>
</div>

<%- include('inc/main-footer') %>