<%- include('inc/main-header', headerContent) %>

<div class="container">
  <div class="split-blocks">
    <div class="presentation-block">
      <div>
        <img src="images/icons/nail-polish.svg" alt="Nail Polish" class="icon">
        <h2>Manicure</h2>
        <div>Suas unhas, belas como jóias.</div>
      </div>
    </div>
    <div class="presentation-block">
      <div>
        <img src="images/icons/hair-salon.svg" alt="Comb and Scissors" class="icon">
        <h2>Cabelo</h2>
        <div>Seu cabelo ficará como o de uma princesa.</div>
      </div>
    </div>
    <div class="presentation-block">
      <div>
        <img src="images/icons/cosmetics.svg" alt="Cosmetics" class="icon">
        <h2>Spa</h2>
        <div>Sua pele ficará como nova!</div>
      </div>
    </div>
  </div>
</div>