<div class="mobile-only">
  <%Object.assign(headerContent.slides.slide1, {page: headerContent.page});%>
  <%- include('inc/main-header', Object.assign(headerContent.slides.slide1), {page: headerContent.page}) %>
</div>
<div class="desktop-only">
  <%- include('inc/main-carousel', headerContent) %>
</div>

<div class="container main-content">
  <div class="split-blocks">
    <div class="presentation-block">
      <div>
        <img src="images/icons/nail-polish.svg" alt="Nail Polish" class="icon">
        <h2>Manicure</h2>
        <div>Suas unhas, belas como jóias.</div>
      </div>
    </div>
    <div class="presentation-block">
      <div>
        <img src="images/icons/hair-salon.svg" alt="Comb and Scissors" class="icon">
        <h2>Cabelo</h2>
        <div>Seu cabelo ficará como o de uma princesa.</div>
      </div>
    </div>
    <div class="presentation-block">
      <div>
        <img src="images/icons/cosmetics.svg" alt="Cosmetics" class="icon">
        <h2>Spa</h2>
        <div>Sua pele ficará como nova!</div>
      </div>
    </div>
  </div>

  <div class="split-container soliciting-container team">
    <div class="primary">
      <div>
        <h2>Nossos grandes talentos</h2>
        <p>Nossa equipe é constituída por profissionais estabelecidos no mercado e de jovens estrelas.</p>
        <div class="btns">
          <a href="/about#team" target="_blank" class="btn btn-primary">Conheça nossa equipe</a>
        </div>
      </div>
    </div>
    <div class="secondary"></div>
  </div>

  <div class="split-container soliciting-container prices">
    <div class="secondary"></div>
    <div class="primary">
      <div>
        <h2>A beleza não tem preço</h2>
        <p>Tanto dos mais simples aos mais elaborados, nós temos serviços para todas as pessoas e todas as carteiras!</p>
        <div class="btns">
          <a href="/services#prices" target="_blank" class="btn btn-primary">Veja nossos preços</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('inc/main-footer') %>