<header class="home-header">
  <div class="container">
    <div class="split-container">
      <div class="primary">
        <div>
          <h2>A sua beleza é a nossa missão!</h2>
          <p>Com 12 anos no mercado, o Salão da Márcia fornece os mais diversos serviços para acentuar a sua beleza.</p>
        </div>
      </div>
      <div class="secondary logo">

      </div>
    </div>
  </div>
</header>