<%- include('inc/main-header', {
  page: 'services',
  title: 'Nossos Serviços',
  text: 'A nossa lista de serviços tem tudo o que você poderia querer!'
}) %>

<div class="container">

  <div class="services-container">

    <div>
      <a id="prices" class="anchor-hash"></a>
      <h2>Serviços e Preços</h2>
    </div>

    <div class="service-row">
      <header>
        <div class="name">Corte de cabelo</div>
        <div class="dots"></div>
        <div class="price">R$60,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Reconstrução</div>
        <div class="dots"></div>
        <div class="price">R$60,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Hidratação</div>
        <div class="dots"></div>
        <div class="price">R$45,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Coloração</div>
        <div class="dots"></div>
        <div class="price">R$200,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Manicure</div>
        <div class="dots"></div>
        <div class="price">R$40,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Pedicure</div>
        <div class="dots"></div>
        <div class="price">R$35,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Sobrancelha</div>
        <div class="dots"></div>
        <div class="price">R$25,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Depilação de Axila</div>
        <div class="dots"></div>
        <div class="price">R$45,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Depilação de Buço</div>
        <div class="dots"></div>
        <div class="price">R$45,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Messagem</div>
        <div class="dots"></div>
        <div class="price">R$100,00</div>
      </header>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Spa</div>
        <div class="dots"></div>
        <div class="price">R$150,00</div>
      </header>
    </div>
  </div>

</div>

<%- include('inc/main-footer') %>