<%- include('inc/main-header', {
  page: 'services',
  title: 'Nossos Serviços',
  text: 'A nossa lista de serviços tem tudo o que você poderia querer!'
}) %>

<div class="container">

  <div class="services-container">

    <div>
      <a id="prices" class="anchor-hash"></a>
      <h2>Serviços e Preços</h2>
    </div>

    <%
    const services = {
      'Corte de cabelo': 'R$60,00',
      'Reconstrução': 'R$50,00',
      'Hidratação': 'R$45,00',
      'Coloração': 'R$200,00',
      'Manicure': 'R$40,00',
      'Pedicure': 'R$35,00',
      'Sobrancelha': 'R$25,00',
      'Depilação de Axila': 'R$45,00',
      'Depilação de Buço': 'R$45,00',
      'Massagem': 'R$100,00',
      'Spa': 'R$150,00'
    };
    for (const [service, price] of Object.entries(services)) { %>
      <div class="service-row">
        <header>
          <div class="name"><%=service%></div>
          <div class="dots"></div>
          <div class="price"><%=price%></div>
        </header>
      </div>
    <% } %>
  </div>
</div>

<%- include('inc/main-footer') %>