<%- include('inc/main-header', headerContent) %>

<div class="container">

  <div class="services-container">

    <div>
      <a id="prices" class="anchor-hash"></a>
      <h2>Serviços e preços</h2>
    </div>

    <div class="service-row">
      <header>
        <div class="name">Corte de cabelo</div>
        <div class="dots"></div>
        <div class="price">R$20,00</div>
      </header>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus quibusdam esse architecto accusantium commodi. Itaque laboriosam sint cumque eius commodi velit in maxime ea.
      </div>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Manicure</div>
        <div class="dots"></div>
        <div class="price">R$15,00</div>
      </header>
      <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro autem repellendus ipsam? Eius voluptates fugiat vel ad unde laudantium rem.
      </div>
    </div>
    <div class="service-row">
      <header>
        <div class="name">Massagem</div>
        <div class="dots"></div>
        <div class="price">R$40,00</div>
      </header>
      <div class="content">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus debitis iure, soluta harum aspernatur rem odio tempora facere.
      </div>
    </div>
  </div>

</div>

<%- include('inc/main-footer') %>