.main-header {
    position: relative;

    height: 100vh;
    z-index: $main-header-z-index;

    h2 {
        font-size: 32px;
        margin: 0;
    }

    .text {
            
        padding: 30px;
        
        color: #efefef;

        h2 {
            font-size: 52px;
        }

        p {
            font-size: 20px;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }
}


$pages: (
    'home': '../images/pages/home.jpg',
    'about': '../images/pages/about.jpg',
    'services': '../images/pages/services.jpg',
    'contact': '../images/pages/contact.jpg'
);

@each $page, $background-url in $pages {
    ##{$page}-header {
        background:
            get-single-overlay($main-header-bg-color, .8),
            url($background-url)
            no-repeat center;
        background-size: cover;
    }
}