body {
    font-family: $default-fonts;
    font-size: 15px;
    line-height: 1.4;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 20px 0;

    li {
        margin: 10px 0;
    }
}

a {
    color: $a-color;

    &:visited {
        color: $a-color-visited;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Quicksand', $default-fonts;
}

h2 {
    font-size: 32px;
    margin: 15px 0 20px 0;
}