body {
    font-family: $default-fonts;
    font-size: 15px;
    line-height: 1.4;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    margin: 20px 0;

    li {
        margin: 10px 0;
    }
}