<nav>
  <div class="container">
    <a href="/" class="nav-item">
      <img src="../images/brand/logo-h.svg" alt="Salão da Márcia" class="logo">
    </a>
    <div class="nav-options">
      <% const pages = {
        '/': 'Início',
        '/about': 'Sobre',
        '/services': 'Serviços',
        '/contact': 'Contato'
      } %>
      <% for (const [link, value] of Object.entries(pages)) { %>
        <a href="<%=link%>" class="nav-item <%=path===link ? 'current-page' : ''%>"><%=value%></a>
      <% } %>
    </div>
  </div>
</nav>