<nav>
  <div class="container">
    <a href="/" class="nav-item">
      <img src="../images/brand/logo-h.svg" alt="Salão da Márcia" class="logo">
    </a>
    <div class="nav-options">
      <a href="/" class="nav-item mobile-only">Início</a>
      <a href="/about" class="nav-item">Sobre</a>
      <a href="/services" class="nav-item">Serviços</a>
      <a href="/contact" class="nav-item">Contato</a>
    </div>
  </div>
</nav>