<nav id="nav" class="js-nav-menu">
  <div class="container container-full-height">
    <a href="/" class="nav-item nav-logo"></a>
    <div class="nav-item mobile-menu-button"></div>
    <div class="nav-options">
      <% for (const [link, value] of Object.entries(menuLinks.primary)) { %>
        <a href="<%=link%>" class="nav-item <%=path===link ? 'current-page' : ''%>"><%=value%></a>
      <% } %>
    </div>
  </div>
</nav>